configs.json
tracked_dms.json
/logs
token.txt
main.txt
.vscode
googletoken.txt
Python/ingore.py
Python/primefinder_tests/pyatkin.py
Python/primefinder_tests/csieve.cpp
out.json
Python/csvjson.json
__pycache__
boundingBox.jpg
readme.docx
readme.odt
*.dscjson
*.html