
# \old_dscgraphs\dscgraphs.py: 1,2
matplotlib == 3.6.3

# \old_dscgraphs\dscgraphs.py: 3
numpy == 1.24.1

# \graph.py: 1
# \table.py: 5
pandas == 1.5.3

# \table.py: 8,9
python_dateutil == 2.8.2
plotly == 5.13.0