      html{
        border: orangered 3px solid
      }
      *:hover{
        letter-spacing: 2px
      }
      body{
        background-color: black;
        border: orangered solid 8px;
        color: orangered;
        margin: 0px
      }
      .head{
        text-align: center;
        background-color: black;
        font-family: "Verdana";
        border-style: solid;
        border-width:20px 0px ;
        border-color: orangered;
        }
      h1{
        font-size:300%;
        width:50vw;
        padding-left: 300px;
      }
      div.head h3{
        width:50vw;
        padding-left: 300px;
      }
      h3{
        font-size: 15px
      }
      a{
        text-decoration: none;
         background-color: white;
        border: 10px inset blue;
      }
      a:hover{
        background-color: black;
        color:orangered;
        border-color:orangered;
      }
      .side{
        font-family:"Tahoma";
        font-size: 150%;
        background-color:orangered;
        color: blue;
      }
      .side1{
        position: absolute;
        top: 50px;
        left:20px;
      }
      div.side1 a{
        background-color: black;
        color:orangered;
        border:10px inset orangered;
      }
      .side2{

        position: absolute;
        left: 150px;
        top: 50px
      }
      .side3{
        position: absolute;
        left: 20px;
        top: 110px
      }
      .side4{
        position: absolute;
        left: 20px;
        top: 170px
      }
      h4{
        font-family: "Verdana";
        font-size: 30px;
        border-bottom:solid orangered 2px;
        width:450px
      }
      .content{
        position: relative;
        left:150px;
        width:80vw;
      }
      hr{
        border:orangered 2px solid;
      }
      p{
        font-family: "trebuchet MS"
      }